<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="DefaultConnection"
         connectionString="Data Source=DESKTOP-J9D2JAD\SQLEXPRESS;Initial Catalog=Event;Persist Security Info=True;"
         providerName="System.Data.SqlClient" />
    <add name="EventEntities"
         connectionString="metadata=res://*/EDM.csdl|res://*/EDM.ssdl|res://*/EDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-J9D2JAD\SQLEXPRESS;initial catalog=Event;integrated security=True;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=162.222.225.88;Initial Catalog=Event;User ID=Event-app;Password=hGt15^j2" providerName="System.Data.SqlClient" />
    <add name="EventEntities" connectionString="metadata=res://*/EDM.csdl|res://*/EDM.ssdl|res://*/EDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=162.222.225.88;initial catalog=Event;user id=Event-app;password=hGt15^j2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>