<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
</head>
<body bgcolor="#1b2f49">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td bgcolor="#1b2f49" align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px">
                <tbody>
                <tr>
                    <td align="center" valign="top" style="padding: 40px 10px 40px 10px">
                        <a href="#" target="_blank" style="color: #fff; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; line-height: 48px; text-decoration: none">
                            <img alt="Logo" src="http://demo6.enextlayer.com/listerexchange/logo.png" width="200" style="color: #ffffff; display: block; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 18px; max-width: 200px; min-width: 160px; width: 200px;" border="0">
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#1b2f49" align="center" style="padding: 0px 10px 0px 10px">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px">
                <tbody>
                <tr>
                    <td bgcolor="#ffffff" align="center" valign="top" style="background: #f4c659; border-radius: 4px 4px 0px 0px; color: #fff; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; line-height: 48px; padding: 20px 20px 20px 20px;">
                        <h1 style="font-size: 22px; font-weight: 400; margin: 0">
                            Email <strong> Verification</strong>
                        </h1>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#1b2f49" align="center" style="padding: 0px 10px 0px 10px">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px">
                <tbody>
                <tr>
                    <td bgcolor="#ffffff" align="center" style="color: #666666; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 25px; padding: 20px 30px 10px 30px;">
                        <p style="line-height: 28px; text-align: left;">
                            Dear {Name},<br/>
                            We are pleased that you will be joining us for the Lister Exchange<br/>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" align="center" style="padding: 20px 30px 20px 30px">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td align="center" style="border-radius: 3px" bgcolor="#f4c659">
                                    <a href={Url} style="border: 1px solid #f4c659;background:#f4c659; border-radius: 2px; color: #ffffff; color: #ffffff; display: inline-block; font-family: Helvetica, Arial, sans-serif; font-size: 20px; padding: 15px 25px; text-decoration: none; text-decoration: none;">Click here verify your email address</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td bgcolor="#ffffff" align="center" style="border-radius: 0 0 4px 4px; color: #666666; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 25px; padding: 0px 30px 30px 30px;">
                        <p style="text-align: left;">
                            Please click on the link above to confirm your registration. <br/>
                            <span>If you have any questions please feel free to reach out to our Support Team. </span><br/><br/>
                            <span>Kind Regards,</span><br/>
                            <span>Lister Exchange.</span>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td bgcolor="#1b2f49" align="center" style="padding: 0px 10px 0px 10px">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px">
                <tbody>
                <tr>
                    <td bgcolor="#1b2f49" align="center" style="color: #fff; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 18px; padding: 30px 0 100px;">
                        <p style="margin: 0">
                            Copyright &copy; 2018, <a href="https://www.listerexchange.com/" target="_blank" style="color: #f4c659;">Lister Exchange</a> All rights reserved.
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>